@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1A264C;
    height: 200vh;
}

#home {
    background-blend-mode: multiply;
    background-color: rgba(69, 69, 69, 0.57);
}

.about {
    min-height: auto;
    padding-bottom: 7rem;
    padding-top: 20vh;
    margin-top: 10vh;
  }

  .about h2 {
    margin-bottom: 5rem;
}

.about .about-card-container {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 2rem;
  }

  .about-card-container .about-card {
    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
    flex-basis: 0; 
    flex: 1 1 25rem;
    background: #2d3142;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.405);
    text-align: center;
    transition: 0.5s ease;
  }

  .about-card-container .about-card:hover {
    box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.405);
    transform: scale(1.02);
  }
  
  .about-card i {
    font-size: 7rem;
    color: #1D72AA;
  }

  .about-card h3 {
    font-size: clamp(1.5rem, 6vw, 2.6rem);
    transition: 0.5s ease;
  }

  .about-card:hover h3 {
    color: #1D72AA;
  }
  
  .about-card p {
    font-size: clamp(1rem, 4vw, 1.6rem);
    margin: 1rem 0 3rem;
  }
  
  .about-card:nth-child(1) {
    background-image: url(./assets/images/past.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(69, 69, 69, 0.57);
  }

  .about-card:nth-child(2) {
    background-image: url(./assets/images/network.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(69, 69, 69, 0.57);
  }

  .about-card:nth-child(3) {
    background-image: url(./assets/images/future2.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(69, 69, 69, 0.57);
  }


  .group-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 1rem;
    margin-top: 6rem;
}
.group-container .info-card {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 24rem;
    justify-content: center;
    background: #2D3142;
    padding: 1.5rem 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem rgba(255, 255, 255, 0.663);
    text-align: center;
    border-top: .6rem solid #1D72AA;
    border-bottom: .6rem solid #1D72AA;
    transition: 0.5s ease;
}
.info-card {
    flex-direction: column;
    gap: 0.75rem;
}
.group-container .info-card:hover {
    box-shadow: 0 0.1rem 1.5rem  rgba(255, 255, 255, 0.663);
    transform: scale(1.02);
}

.info-card h2 {
    transition: 0.5s ease;
}
.info-card a:hover {
    color: #1D72AA;
}
.info-card p {
    color: #d7d7d7;
} 